.layout {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.container {
  padding: 20px;
  margin: 0 auto;
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 250px; /* Adjust margin to accommodate the sidebar width */
}

.header {
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  top: auto;
}

.button {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #34495e;
  color: #ecf0f1;
}

.addbtn, .disablebtn {
  margin-right: 15px;
  background-color: #0096FF;
}

.editc{
  margin-right: 5px;
  background-color: #0096FF;
}

.addup {
  margin-top: 10px;
}

/* New styling to wrap long descriptions */
.table td {
  padding: 12px;
  vertical-align: top;
  white-space: normal; /* Allows text to wrap */
  word-wrap: break-word; /* Breaks long words if necessary */
  max-width: 200px; /* Set a max width for the description column */
}

.modal {
  z-index: 1050 !important;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal-content {
  position: relative;
  z-index: 1060 !important;
}
